* {
    margin: 0;
    padding: 0;
    font-family: jetbrains-mono;
}

.chartMenu {
    width: 100vw;
    color: rgb(4, 197, 204);
    text-align: center;
}

.chartMenu p {
    font-size: 20px;
    text-align: center;
    color: black;
}

.chartCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 40vw;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid rgb(3, 16, 20);
    background: white;
}

.header__content {
    top: 0;
    z-index: 100;
    align-items: center;
    background-color: #24405c;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.header__logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin: 0 20px;
}

.space__maker {
    width: 75%;
}

.header__option {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 24px;
}

.option__above {
    font-size: large;
    font-weight: bold;
    color: white;
}

.option__below {
    color: white;
}
