.student_addContent {
    border: 1px solid black;
    border-radius: 14px;
    background-color: #668cff;
    justify-content: center;
}

.student_addOptionLine {
    margin-bottom: 24px;
}

.student_addButton {
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.style__button {
    border: none;
    border-radius: 6px;
    background-color: #ffff00;
    margin-right: 22px;
}
