.page__container {
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(66, 58, 58);
    /* background-color: #668cff; */
    max-width: fit-content;
    padding: 1%;
    margin: 0 auto 0 auto;
}

.table__options {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 2%;
    font-size: 20px;
    margin-left: 20px;
}

.newStudent__Profile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.controlBtn {
    display: flex;
    flex-direction: row;
}

input[type="button"] {
    width: 40%;
    height: 44px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.664);
    border-color: black;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: medium;
    margin: 14px auto 0 auto;
}

input[type="submit"] {
    width: 40%;
    height: 44px;
    margin-top: 10px;
    background: #36a420;
    border-color: black;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: medium;
    margin: auto;
}
