.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.introText {
    width: 50px;
}

.labelText {
    margin: "auto";
    color: #166fe5;
}

.left__content {
    margin: auto;
    padding: 80px;
}

hr {
    color: black;
    width: 100%;
}

.right__content {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(207, 207, 207);
    padding: 20px;
    background-color: #ffffff;
}

.web__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

input[type="text"],
input[type="password"] {
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 320px;
    text-align: center;
}

input:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
}

.login__signInButton {
    background: #36a420;
    border-radius: 0.5rem;
    border: none;
    max-width: 60%;
    height: 44px;
    margin-left: 20%;
    margin-top: 10px;
    border-color: black;
    color: white;
    cursor: pointer;
    font-size: medium;
    max-height: fit-content;
}

.login__registerButton {
    max-width: 60%;
    height: 44px;
    margin-top: 10px;
    background: #36a420;
    border-color: black;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: medium;
    margin-left: 24%;
}
